.title {
  font-size: $fz-medium;
  font-weight: bold;
  text-decoration: none;
  color: $color-black;

  &-big {
    font-size: $mfz-big-header;
  }

  &-mega {
    font-size: $mfz-mega-header;
    margin: 20px 0 40px;
    line-height: 120px;
  }
}

.footer {
  text-align: center;
}

.safety-police {
  padding: 20px 20px 100px;
}

.mobile-order-1 {
  order: 1;
}

.mobile-order-2 {
  order: 2;
}

.detail {
  display: block;
  padding-bottom: 5px;
}

.notice {
  display: inline-block;
  background: $color-red;
  color: $color-white;
  padding: 15px 25px;
  font-weight: bold;
  font-size: $fz-medium;
  text-align: center;

  &.rounded {
    border-radius: 8px;
  }

  &.full-width {
    width: 100%;
  }
}

.red-link,
.red-button {
  color: $color-red;
  font-weight: bold;
  font-size: $fz-medium;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 3px;

  &.bordered {
    border-bottom: 1px solid $color-red;
  }

  &.margined {
    margin: 30px 0 10px;
  }

  &.mtb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.red-button {
  display: inline-block;
  margin: 20px 0;
  background: $color-red;
  color: $color-white;
  padding: 10px 30px 12px;
  border: 1px solid $color-red;
}

.ml20 {
  margin-left: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.text {
  line-height: 1.7;
}

.img-block {
  display: inline-block;
  width: 100%;
  height: auto;
}

.align-items-flex-end {
  align-items: flex-end;
}

.move-on-background {
  position: relative;
  z-index: -1;
  width: 180%;
}

.overflow-x-hidden,
.m-overflow-x-hidden {
  overflow-x: hidden;
}

.pull-right {
  text-align: right;
}

@include desktop {
  .m-overflow-x-hidden {
    overflow-x: visible;
  }
  
  .desktop-mt50 {
    margin-top: 50px;
  }

  .footer {
    position: fixed;
    bottom: 34px;
    right: 28%;
  }

  .red-link:hover {
    color: red;
    border-bottom: 1px solid red;
  }

  .red-button:hover {
    background: darken($color-red, $amount: 10%)
  }

  .title {
    margin-top: 10px;
    margin-bottom: 10px;

    &-big {
      font-size: $fz-big-header;
      line-height: 100px;
    }
  
    &-mega {
      font-size: $fz-mega-header;
      line-height: 150px;
      margin: 60px 0 40px;
    }
  }

  .desktop-pr30 {
    padding-right: 30%;
  }

  .red-link.margined {
    margin: 0 0 0 20px;
  }

  .mobile-order-1,
  .mobile-order-2 {
    order: 0;
  }
}

