.people-thinking-background {
  display: inline-block;
  width: 180%;
  height: auto;
  position: relative;
  z-index: -1;
  left: -120px;

  content: url('../images/people-thinking.svg');
}

.awesome-speaker-background {
  display: inline-block;
  width: 120%;
  height: auto;
  position: relative;
  z-index: -1;
  left: 100px;

  content: url('../images/awesome-speaker.svg');
}

.github {
  content: url('../images/github.svg');
}

.twitter {
  content: url('../images/twitter.svg');
}


.join-us-background {
  display: inline-block;
  width: 100%;
  
  height: auto;
  position: relative;
  z-index: -1;
  left: 0px;
 

  content: url('../images/join-us.svg');
}

@include desktop {
  .join-us-background {
    width: 120%;
    left: -150px;
  }
}