$color-black: #000;
$color-white: #FFF;
$color-red: #DF2F39;

$fz-medium: 16px;
$fz-big-header: 96px;
$fz-mega-header: 128px;

$din-pro-path: '../fonts/din_pro';
$din-pro-bold-path: '../fonts/din_pro_bold';

$tablet-width: 768px;
$desktop-width: 992px;
