@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import 'hamburgers/hamburgers.scss';

@import 'grid/functions';
@import 'grid/variables';

@import 'grid/mixins/breakpoints';
@import 'grid/mixins/grid-framework';
@import 'grid/mixins/grid';

@import 'grid/grid';
@import 'grid/utilities/display';
@import 'grid/utilities/flex';

@import 'styles/normalize';
@import 'styles/variables';
@import 'styles/din_pro';

@import 'styles/mixins';

@import 'styles/header';
@import 'styles/common';
@import 'styles/first_screen_box';
@import 'styles/image_background';
@import 'styles/speakers';
@import 'styles/order_form_overlay';
@import 'styles/partners';
@import 'styles/schedule';

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  font-size: $fz-medium;

  overflow-x: hidden;
  padding: 10px;
}

#top, #bottom, #left, #right {
  	background: $color-red;
    position: fixed;
    z-index: 10000;
    }

  	#left, #right {
      top: 0; bottom: 0;
      width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }

  	#top, #bottom {
  		left: 0; right: 0;
  		height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

@include desktop {
  body {
    padding: 0;
  }
}

.block {
  padding-top: 10%;
  min-height: 101vh;

  &:focus {
    outline: none;
  }
}

.subtitle {
  font-size: 1.5em;
  font-weight: normal;
}
